.inputbox {
  position: relative;

  width: 268px;
  height: 38px;

  border-radius: 3px;
  border: 1px solid #DBDBFF;
}

.inputbox input {
  position: absolute;
  top: 0;
  left: 10px;

  width: 248px;
  transition: 0.6s;

  outline: none;
  background: none;
  border-style: none;

  padding: 10px 0px 10px 0px;
  color: #262626;
}

.inputbox span {
  position: absolute;
  top: 10px;
  left: 10px;

  height: 20px;
  transition: 0.6s;

  font-size: 14px;
  color: #8E8E8E;
}

.inputbox input:valid {
  position: absolute;
  top: 12px;
  left: 10px;

  width: 248px;
  height: 20px;
  padding: 0px;
}

.inputbox input:valid ~ span {
  transform: translateY(-12px);
  top: 12px;
  left: 10px;

  font-size: 12px;
  font-weight: 500;
  color: #525252;
}